<!DOCTYPE html>
<html class="dark">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    *{
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>
<body class="bg-[#a8dadc] ">
  <body class="bg-[#a8dadc]">
    <main class="min-h-screen flex flex-col items-center justify-center bg-[#a8dadc] space-y-10 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full mx-auto bg-[#f1faee] shadow rounded-lg p-7 space-y-6">
        <h1 class="mt-6 text-center text-4xl font-extrabold text-[#e63946]">Sign Up</h1>
        <form method="post">
          <label class="text-sm font-bold text-[#1d3557] mb-1" for="name">Username:</label>
          <input class="border rounded-md bg-white px-3 py-2 mb-6" type="text" id="name" name="name" required>
    
          <label class="text-sm font-bold text-[#1d3557] mb-1" for="password">Password:</label>
          <input class="border rounded-md bg-white px-3 py-2 mb-6" type="password" id="password" name="password" required>

          <label class="text-sm font-bold text-gray-600 mb-1" for="confirm_password">Confirm Password:</label>
          <input class="border rounded-md bg-white px-3 py-2 mb-4" type="password" id="confirm_password" name="confirm_password" required>
  
    
          <button  class="w-full bg-[#1d3557] text-white rounded-md p-2" type="submit">Sign Up</button>
        </form>
        <div class="relative pb-2">
          <div class="absolute top-0 left-0 w-full border-b"></div>
          <div class="absolute -top-3 left-0 w-full text-center">
            <span class="bg-[#f1faee] px-3 text-sm">New here?</span>
          </div>
        </div>
        <div>
          <button class="w-full bg-gray-200 text-gray-700 rounded-md p-2"><a href="/login">Login</a></button>
        </div>
        </div>
      </div>
    </main>
    <h1 class="absolute top-0 right-0 pl-4 mt-4 mr-4 text-xl font-bold text-[#1d3557]"><a  href="/admin/login">Admin?</a></h1>
</body>

  <script>
    const signupForm = document.getElementById('signupForm');
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirm_password');

    signupForm.addEventListener('submit', function(event) {
      if (passwordInput.value !== confirmPasswordInput.value) {
        event.preventDefault(); 
        alert('Passwords do not match! Please re-enter your password.');
      }
    });
  </script>
</body>
</html>